* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  background-image: url(background.jfif);
  background-repeat: no-repeat;
}
p {
  color: white;
}
h1 {
  color: white;
  font-size: 4rem; 
}
.ContactSec{
  background-color: black;
  display: flex;
  margin-top: 10%;
  text-align: center;
}
.col {
  text-align: center;
  flex: 33.33%;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.roundimg {
  border-radius: 50%;
  height: 100%;
  width: 50%;
}
.roundimg2 {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
/* neon section */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 20%;
}
@font-face {
  font-family: neon;
  src: url(./monoton/Monoton-Regular.ttf);
}
.neon-wrapper {
  text-align: center;
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw rgb(124, 162, 228), 
  0 0   4vw  0.4vw rgb(17, 96, 231),
  inset 0 0 1.5vw  0.4vw rgb(17, 96, 231),
  inset 0 0 0.4vw  0.2vw rgb(124, 162, 228),
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}
.neon-text {
  font-family:neon;
  font-size: 4rem;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;

  text-shadow: 
  .1vw 0vw .25vw #ffd8d8, .15vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw rgb(124, 162, 228), .15vw 0vw   0vw rgb(124, 162, 228), .2vw 0vw   0vw rgb(124, 162, 228),
  .1vw 0vw  .1vw rgb(124, 162, 228), .15vw 0vw  .1vw rgb(124, 162, 228), .2vw 0vw  .1vw rgb(124, 162, 228),
  .1vw 0vw   2vw rgb(124, 162, 228), .15vw 0vw   2vw rgb(124, 162, 228), .2vw 0vw   2vw rgb(124, 162, 228), 
  .1vw 0vw   1vw rgb(17, 96, 231), .15vw 0vw   1vw rgb(17, 96, 231), .2vw 0vw   5vw rgb(17, 96, 231), 
  .1vw 0vw   5vw rgb(17, 96, 231), .15vw 0vw  20vw rgb(17, 96, 231), .2vw 0vw  10vw rgb(17, 96, 231),
  .1vw 0vw  10vw rgb(17, 96, 231), .15vw 0vw  30vw rgb(17, 96, 231), .2vw 0vw  10vw rgb(17, 96, 231);
}
/* neon section */
.wrapper1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 20%;
  text-align: center;
}
@font-face {
  font-family: neon;
  src: url(./monoton/Monoton-Regular.ttf);
}
.neon-wrapper1 {
  text-align: center;
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 15%;
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw rgb(124, 162, 228), 
  0 0   4vw  0.4vw rgb(17, 96, 231),
  inset 0 0 1.5vw  0.4vw rgb(17, 96, 231),
  inset 0 0 0.4vw  0.2vw rgb(124, 162, 228),
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}
.neon-text1 {
  text-align: center;
  font-family: neon;
  font-size: 2rem;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 
               0 0 40px rgb(124, 162, 228), 0 0 70px rgb(124, 162, 228), 0 0 80px rgb(124, 162, 228),
               0 0 100px rgb(17, 96, 231), 0 0 150px rgb(17, 96, 231);
  
}
.ResumeSec {
 margin: 1%;
}
.imageleft {
  margin-left: 15%;
  margin-top: 20%;
}
.pblack {
  color: black;
  font-size: 1rem; 
}
.row {
  display: flex;
  margin-left: 10%;
  margin-top: 20%;
  height: 50%;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: white;
  background: transparent;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: var(--primaryColor);
  color: white;
}
.btn-primary2 {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: white;
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary2:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.50rem .25rem;
  background: var(--offWhite);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.459);
}
.jumbo {
  width:100%;
  position: center;
  margin-top: 10%;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  margin-top: 1%;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  /* padding: 1rem 0; */
  color:white; 
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
    

}
.nav-links a:hover {
  color: var(--primaryColor);
}

.navlogo {
  height: 60px;
  width: 80px;
}
.show-nav {
  height: 10px;
   
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: flex; 
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 70%;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
